<div>
Search <input type="search" ng-model="q" placeholder="filter photos..." />
</div>
<br/>
<br/>
<div class="list-group">
    <ul>
        <li class="list-group-item"><a href="" ng-cloak ng-click='tempRootGallery()'>Back to Root</a><br/></li>
        <li class="list-group-item" ng-repeat="dir in dirsMetaData.list | filter:q">
            <a href="" ng-click='loadGallery(dir.file)'>{{dir.label}}</a>
        </li>
    </ul>
</div>
<!-- gallery breadcrumbs-->
<div gallery-breadcrumbs current-gallery-path="{{galleryPath}}">

</div>
<!-- main gallery pane-->
<div ng-if="hasPhotos">
    <!-- photo containers -->
    <div>
        <h3>{{loadedPhoto.label}}</h3>
    </div>
    <div id='galleryControl'>
        <!-- prev / next controls -->
        <h4>photo {{galleryIndex + 1}} of {{photoMetaData.list.length}}</h4>
        <a href="" ng-if="galleryIndex > 0" ng-click="displayPrevPhoto();scrollTo('galleryControl')">prev</a> | <a href="" ng-if="galleryIndex < photoMetaData.list.length - 1" ng-click="displayNextPhoto();">next</a>
    </div>
    <div>
        <!-- display selected photo -->
        <img style="max-width: 100%;" src="{{loadedPhoto.src}}"/>

    </div>

    <br/>
    <br/>
</div>

