<h1>XBMC media gallery app</h1>

<a href="" ng-cloak ng-click='tempRootGallery()'>Back to Root</a><br/>
Search <input type="search" ng-model="q" placeholder="filter photos..." />

<ul>
    <li ng-repeat="dir in dirsMetaData.list | filter:q">
        <a href="" ng-click='loadGallery(dir.file)'>{{dir.label}}</a>
    </li>
</ul>

<!-- main gallery pane-->
<div ng-if="hasPhotos">

    <!-- photo container -->
    <div>
        <h4>{{loadedPhoto.label}}</h4>
        <h4>photos in section: {{photoMetaData.list.length}} </h4>
    </div>
    <div>
        <!-- prev / next controls -->
        <a href="" ng-click="displayPrevPhoto()">prev</a> | <a href="" ng-click="displayNextPhoto()">next</a>
    </div>
    <div>

        <!-- enumerate all photos -->
        <img style="max-width: 100%; max-height: 100%;" src="{{loadedPhoto.src}}"/

    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>

